.list {
  margin: 1rem auto;
}

.info {
  border: none;
  border-top: 1px dotted goldenrod;
}

.song-title {
  width: 79.5vw;
  text-transform: capitalize;
  letter-spacing: 5px;
  color: grey;
  padding: 0.2rem;
  margin: 0.8rem auto;
  font-weight: 100;
}

.link {
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
  padding: 0.2rem;
  letter-spacing: 3px;
}

.playlist-img {
  background: #f6f6f6;
  width: 100%;
}

.img {
  width: 6%;
}
